.card-body {
    text-align: center;
    background-color: cyan;
    color: darkred;
    font-weight: bolder;
}

.card-body h3 {
    color: deeppink;
    font-size: 35px;
}

img {
    border-radius: 10px;
    height: 300px;
    width: 290px;
}

#pass {
    height: 30px;
    width: 300px;
    border: 2px solid black;
    padding: 5px 3px;
}